{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
    <br><br>
    <div class="card">
        <div class="card-header">
            {{user.username}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ user.email }}</h5>
            <p class="card-text">Hello {{user.username}}, displayed is the user input entered showing how data can be collected and viewed using MVC architecture
            </p>
            <p>You can test the fuctionality by registering another user and the infomation will be displayed in All users page. Since we are using user authentication, you need to log in to view data. The user Lucas with vcxz1234 as the password has already
                been created and can be used as login credentials.
                <p>
                    <a href="{% url 'registration' %}" class="btn btn-primary">Register</a>
                </p>
        </div>
    </div>

</div>

{% endblock content %}